.container {
    display: flex;
}
.sidebar {
    display: fixed;
    width: 350px;
    background-color: rgb(255, 161, 66);
    height: 100vh;
}
.content {
    display: flex;
    flex-direction: column;
    width: 81vw;
    height: 100vh;
}
.title {
    display: flex;
    justify-content: center;
    font-size: 5rem;
    width: 100%;
    border-bottom: 5px solid black;
    margin-bottom: 10px;
}
.navbar {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 4rem;
}
.navbar a {
    text-align: center;
    width: 100%;
    text-decoration: none;
    color: black;
}
.banner {
    object-fit: cover;
    width: 82vw;
    height: 200px;
}
.box {
    display: flex;
    justify-content: center;
    width: 82vw;
    margin-top: 10px;
}
.box form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.box-template {
    padding: 20px;
    font-size: 40px;
    background-color: aliceblue;
    width: 50vw;
    border-radius: 20px;
}
iframe:hover {
    transition: 0.3s;
    transform: scale(1.05);
}
input, button {
    height: 50px;
    font-size: 40px;
}
.audio {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}
body {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}
body::-webkit-scrollbar {
    display: none;
}
table {
    border-collapse: collapse;
}
tr td, tr th {
    padding: 5px;

}
